click
fvcore
thop
transformers
timm==0.9.5
torch==2.1.1
termcolor
pytest
ipdb
tqdm
notebook
matplotlib
einops
accelerate
pytest
graphviz
pyyaml>=6.0,<7
tqdm>=4.62.3,<5
numpy>=1.21.5,<1.25.0
tensorboard
torchvision==0.16.0
